doctype html
html(lang="ko")
    head

        title #{titleName} | Dalcom Bakery
    body 
        header dalcom Bakery!
        div #{titleName}

        block main

        include partials/footer.pug